config mqtt_settings 'mqtt_settings'
	option host ' '
	option port ' '
	option user ' '
	option password ' '
	option enabled ' '
	option cafile ' '
	option certfile ' '
	option keyfile ' '
	option sender ' '
	option app_pw ' '

config mqtt_topic
	option topic '/temperature'
	option qos '0'

config mqtt_topic
	option topic '/another'
	option qos '0'

config mqtt_event
	option topic '/temperature'
	option parameter 'degrees'
	option value_type 'numeric'
	option value ''
	option operator '>='
	option recipient ' '

config mqtt_event
	option topic '/another'
	option parameter 'degrees'
	option value_type 'numeric'
	option value '20'
	option operator '<='
	option recipient ' '
